# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Environment variables
.env
.env.*

# Node
node_modules/
npm-debug.log*

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db